<!DOCTYPE html>
<html>
<head>
    <title> 404 Not Found</title>
    <a rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<% include menu %>
<h1> 404 Not Found</h1>
<p> Sorry we cannot found the resource</p>
</body>
</html>