<!DOCTYPE html>
<html>
<title><%= title%></title>
<link rel="stylesheet" href="/stylesheets/style.css"/>
<head>
</head>
<body>
    <% include menu %>
    <h1><% title %></h1>
    <p> Fill the table below to register</p>
    <% include messages %>
    <form action="/register" method="post" enctype="multipart/form-data">
        <p>
            <input type="text" name="user[name]" placeholder="Username"/>
        </p>
        <p>
            <input type="text" name="user[password]" placeholder="Password"/>
        </p>
        <p>
            <input type="submit" value="Sign Up"/>
        </p>
    </form>
</body>
</html>